[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
